*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family:  Arial, Helvetica, sans-serif cursive;
    
    color: #444444;
    

}

a  {
    color: #444444;
}


.container {
    max-width: 1500px;
    margin: 0 auto  ;
    text-align: center;
    

}

.header {
    min-height: 78vh;
    display: flex;
   
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
height: 100;
}

.menu .navbar ul li {
    position: relative;
    float: right;  /*/ letras de la barra negra (menu)/*/
    align-items: right;
}

.menu .navbar ul li a {
    font-size: 30px;
    color: #FBFBFB;
    padding: 22px;
    display: block;
    text-transform: uppercase;
     align-content: right;
}

.navbar {

    background-color: black;
    width: 100%;
   

}

#menu {

    display: none;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content {

    display: flex;
    align-items: center;
    width: 100%;
    padding: 150px 0 100px 0;
}

.header-txt {
    width: 60%;
}

.header-txt h1 {
    font-size: 80px;
  text-align: left;
 
  

}

li {
    font-size: 25px;
    margin-bottom: 15px;
}

.header-img { /* logo con nombre*/ 
    width: 70%;
    text-align: left;
    position:absolute /* para que quede adelante de todo*/
    
}

.header-img img {
    width: 800px;
}

.sec-1 {
    padding: 100px 0;
    display: flex;
    width: 100%
    
}

h2 {
    font-size: 90px;
}

.sec-img{
    width: 80%;
}

.sec-img img {
    width: 800px;
}
.sec-2 {
    text-align: left;
}
.footer {
padding: 100px 0; 
justify-content: space-between;
position: relative;
font-size: 20px;
display: block;
text-transform: uppercase;
 align-content: right;
text-decoration-color: #FBFBFB;


}
.footer h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #FBFBFB;
}




@media(max-width: 991px){
    .menu {
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #444444;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    .menu .navbar ul li a{
        color: #FBFBFB;
    }
    #menu:checked ~ .navbar {
        display:initial
    }

    .header {
        min-height: 0vh;
    }
    .header-content {
        padding: 100px 30px 30px 30px;
        flex-direction: column;
    }
    .header-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    .header-img{
        width: 100%;
        text-align: center;
    }
    .header-img img{
        width: 300px;
    }
    .sec-1 {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    h2{
        font-size: 80px;
    }
    sec.img {
        width: 100%;
        order: 2;
    }
    .sec-img img {
        width: 300px;
    }
    .sec-txt {
        width: 100%;
        margin-bottom: 15px;
    }
    .sec-2 {
        text-align: center;
    }
    .footer{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
}